#photo{
    position: relative;
    opacity: 70%;
    
}

#photo #ptxt{
    position: relative;
    color: #f4ba27;
    top: -700px;
    left: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    
}
body{
    background-color: rgb(36, 36, 37);
    overflow: hidden;
    
}